<% layout("/layouts/boilerplate") %>

<div class="container mb-3">
    <div class="row">
        <div class="col-8 offset-2">
            <h1 class="mb-3 text-center">Edit a Listing</h1>

            <form
                method="POST"
                action="/listings/<%= listing._id %>?_method=PUT"
                novalidate
                class="needs-validation"
                enctype="multipart/form-data"
            >
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input
                        type="text"
                        class="form-control"
                        id="title"
                        name="listing[title]"
                        value="<%= listing.title %>"
                        required
                    />

                    <div class="invalid-feedback">Please provide a title !</div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label"
                        >Description</label
                    >
                    <textarea
                        class="form-control"
                        id="description"
                        name="listing[description]"
                        rows="3"
                        required
                    >
<%= listing.description %></textarea
                    >

                    <div class="invalid-feedback">
                        Please provide a description !
                    </div>
                </div>

                <div class="mb-3">
                    <p>Original Listing Image :</p>
                    <img
                        src="<%= listing.image.url %>"
                        alt="Original Image"
                        width="300"
                    />
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label"
                        >Upload New Image</label
                    >
                    <input
                        type="file"
                        class="form-control"
                        id="image"
                        name="image"
                    />

                    <div class="invalid-feedback">Please provide a image !</div>
                </div>

                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input
                        type="number"
                        class="form-control"
                        id="price"
                        name="listing[price]"
                        value="<%= listing.price %>"
                        required
                    />

                    <div class="invalid-feedback">Please provide a price !</div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input
                        type="text"
                        class="form-control"
                        id="location"
                        name="listing[location]"
                        value="<%= listing.location %>"
                        required
                    />

                    <div class="invalid-feedback">
                        Please provide a location !
                    </div>
                </div>

                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input
                        type="text"
                        class="form-control"
                        id="country"
                        name="listing[country]"
                        value="<%= listing.country %>"
                        required
                    />

                    <div class="invalid-feedback">
                        Please provide a country !
                    </div>
                </div>

                <button type="submit" class="btn btn-dark form-btn">
                    Edit
                </button>
            </form>
        </div>
    </div>
</div>
